
    <div>Hi, I'm</div>
    <div>niftytyro</div>
    <div>Friends call me Udasi. I am a 20 y/o dropout, currently working as a frontend engineer at Jupiter. Super interested in learning and hacking around software.
    <br/>
    Currently learning rust, behind-the-scenes of languages & programs, backend engineering, and anything else I find interesting. 
    </div>
    <div>
      I will be sharing my learnings, thoughts and adventures in software land. 
    </div>
