<div>
  <span class="text-3xl ml-4 mr-2">Hi, I'm</span>
  <span class="font-bold text-4xl italic mt-1 mb-4">niftytyro</span>
  <div class="bg-polarnight60 py-4 px-8 mt-8 rounded-xl border-l-[6px]">
    <div class="text-xl">
      Friends call me Udasi. I am a 20 y/o dropout; currently doing frontend <a class="underline" href="https://jupiter.money" target="_blank">@jupiter</a>.
      Super interested in learning and hacking around software.
      <br/>
      Currently learning rust, behind-the-scenes of languages & programs, backend engineering, hacking a bit with the terminal, and anything else I find interesting. 
    </div>
    <div class="text-xl">
      <br/>
      I will be sharing my learnings, thoughts and adventures in software land!
    </div>
  </div>
</div>
